/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Nunito:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  transition: 0.3s;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 600px) {
    ::-webkit-scrollbar {
      display: block;
      width: 0.75rem;
      height: 0.75rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: rgba($color: #000000, $alpha: 0);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba($color: #000000, $alpha: 0.125);
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgba($color: #000000, $alpha: 0.25);
    }
  }
}

.hideScrollBars {
  &::-webkit-scrollbar {
    display: none;
  }
}

.headerFont {
  //   font-family: "Plaster", cursive;
  font-family: "Limelight", cursive;
}

.hoverTransformZ {
  &:hover {
    transform: translateY(-0.125rem) scale(0.995);
  }
}

.hoverTransformScale {
  transition: 0.2s;
  &:hover {
    transform: scale(1.025);
  }
}
.hoverTransformScaleHigh {
  transition: 0.2s;
  &:hover {
    transform: scale(1.125);
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  .page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    max-width: 900px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-bottom: 2rem;

    .images {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // transform: translateY(-2rem);

      .img {
        border-radius: 1rem;
      }

      .imgLeft {
        z-index: 1;
        width: 10rem;
        height: auto;
        transform: rotate(15deg);
      }
      .imgMiddle {
        z-index: 0;
        width: 8rem;
        height: auto;
        transform: rotate(-20deg) translateY(-1rem) translateX(3rem) scale(1.25);
      }
      .imgRight {
        z-index: 1;
        width: 10rem;
        height: auto;
        transform: rotate(15deg) translateY(10rem) translateX(2rem);
      }
    }

    .title {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: -2.5rem;
      margin-left: 1rem;
    }
  }
  @media (min-width: 600px) {
    .images {
      gap: 5rem;
      transform: scale(1.25);

      .imgRight {
        transform: rotate(15deg) translateX(-5rem) translateY(15rem) scale(1.35);
      }
    }
  }
  @media (min-height: 900px) {
    .title {
      transform: translateY(4rem);
    }
    .page-container {
      padding-bottom: 5rem;
    }
  }
}
